<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schedule.dao.LoginDao">
	 <insert id="insertUserInfo" parameterType="com.schedule.dto.UserInfo">
        insert into userinfo(id_userInfo,userId,userName,passWord,mobile) values(#{id},#{userId},#{userName},#{passWord},#{mobile});
    </insert>
</mapper>